* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    padding: 4  px 15px;
    position: fixed;
    width: 100%;
    background: white;
}
.logo{
    height: 50px;
    padding: 15px;
}
.header-actions {
    margin: 16px;
}
.header-action {
    height: 30px;
    margin-left: 10px;
}
footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #f2f2f2;
    padding: 4  px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
}
.footer-action {
    height: 30px;
}
.user {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 0;
    object-fit: cover;
}
.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #de5183;
    padding: 3px;
}
.status-container {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid #f2f2f2;
    height: 130px;
    overflow-x: auto;
}
.status-container::-webkit-scrollbar {
    display: none;
}
.status {
    padding: 16px 0 16px 16px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
}
.username {
    padding-top: 5px;
    text-overflow: clip;
    height: 20px;
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.sender {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    object-fit: cover;
}
.more-options {
    height: 40px;
}
.sender-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sender-name {
    margin-left: 10px;
}
.post-image {
    height: 100%;
    width: 100%;
}
.post-container {
    margin: 0 30px 80px 30px;
}
.post-actions-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 10px 0;
}
.post-action {
    height: 28px;
    margin: 5px;
}
.likes-section {
    font-weight: bold;
    font-size: 16px;
    padding: 0 12px;
}
.blue-tick {
    height: 16px;
    padding-left: 5px;
}
